frontend/node_modules
frontend/.env
frontend/.env.developement
frontend/package-lock.json
frontend/public/_robots.txt
frontend/public/tmp

frontend_test/node_modules
frontend_test/.env
frontend_test/.env.developement
frontend_test/package-lock.json
frontend_test/public/_robots.txt
frontend_test/public/tmp



frontend_1337_digital/node_modules
frontend_1337_digital/.env
frontend_1337_digital/.env.developement
frontend_1337_digital/package-lock.json
frontend_1337_digital/public/_robots.txt
frontend_1337_digital/public/tmp


backend/app/Console/Commands
backend/vendor
backend/composer.lock
backend/.env

install.md
front.bat
back.bat